main {
    margin: 40px;
}

main img {
    padding: 20px;
}

p, li {
    font-size: 1.2rem;
}

.main-img {
    position: relative;
    display: inline-block;
}

.main-img img {
    display: block;
    width: 100%;
    filter: brightness(30%)
}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
}

.text-overlay h1 {
    font-size: 7vw;
    font-weight: bold;
}

.text-overlay h4 {
    font-size: 3vw;
    font-weight: lighter;
    margin-top: 10px;
}

.container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.link-text {
    color: blue;
    text-decoration: none;
}

.link-text:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

